.add-on-cont {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 3rem;
}

.add-on {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.4rem;
	border-radius: 8px;
	border: 2px solid transparent;

	&:hover {
		border-color: var(--marine-blue);
	}

	&:has(input[type='checkbox']:checked) {
		background-color: var(--magnolia);
		border-color: var(--purplish-blue);
	}
}

.add-on-first-part {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}

input[type='checkbox'] {
	display: none;
}

.add-on-checkbox {
	width: 1.4rem;
	height: 1.4rem;
	display: grid;
	place-content: center;

	img {
		border: 1px solid var(--light-gray);
		border-radius: 4px;
	}

	& input[type='checkbox']:checked + img {
		background-color: var(--purplish-blue);
	}
}
