.plan-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3rem;
}

.plan-card {
	width: 9rem;

	padding: 1rem;
	border-radius: 10px;
	border: 2px solid var(--light-gray);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4rem;

	.card-text {
		display: flex;
		flex-direction: column;
		gap: 2px;

		h2 {
			font-size: 1.1rem;
			font-weight: 700;
		}
		p {
			color: var(--cool-gray);
		}
	}
}

.plan-card:hover,
.plan-card:focus-visible {
	border-color: var(--marine-blue);
	background-color: var(--pastel-blue);
}

.pay-plan {
	width: 100%;
	height: 3rem;
	margin-top: 2rem;
	border-radius: 4px;
	background-color: var(--magnolia);
	display: flex;
	align-items: center;
	justify-content: center;

	.pay-plan-switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
		user-select: none;

		input {
			display: none;
		}

		.pay-plan-slider {
			position: absolute;
			cursor: pointer;
			inset: 0;
			background-color: var(--marine-blue);
			transition: 0.4s;
			border-radius: 10px;
		}

		.pay-plan-slider:before {
			content: '';
			position: absolute;
			height: 16px;
			width: 16px;
			left: 2px;
			top: 2px;
			background-color: var(--white);
			border-radius: 50%;
			transition: 0.4s;
		}

		.left-text,
		.right-text {
			position: absolute;
			font-weight: 500;
			transition: 0.4s;
			color: var(--cool-gray);
		}

		.left-text {
			left: -100px;
		}

		.right-text {
			left: 80px;
		}

		input:checked ~ .pay-plan-slider:before {
			transform: translateX(20px);
		}

		input:not(:checked) ~ .left-text {
			color: var(--marine-blue);
		}

		input:checked ~ .right-text {
			color: var(--marine-blue);
		}
	}
}
