/* 
 - Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)
 */
/* 
- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)
 */

/* Weights: 400 500 700 */
:root {
	--primary-one: hsl(213, 96%, 18%);
	--primary-two: hsl(243, 100%, 62%);
	--primary-three: hsl(228, 100%, 84%);
	--primary-four: hsl(206, 94%, 87%);
	--primary-five: hsl(354, 84%, 57%);

	--neutral-one: hsl(231, 11%, 63%);
	--neutral-two: hsl(229, 24%, 87%);
	--neutral-three: hsl(217, 100%, 97%);
	--neutral-four: hsl(231, 100%, 99%);
	--neutral-five: hsl(0, 0%, 100%);
}

.App {
	min-height: 100vh;
	background-color: var(--neutral-two);
	display: grid;
	place-items: center;
}

.main {
	width: 60rem;
	height: 40rem;
	background-color: var(--neutral-four);
	border-radius: 20px;
	padding: 10px;
}

.side-bar {
	width: 17rem;
	height: 100%;
	background-image: url('./assets/images/bg-sidebar-desktop.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}

.steps-cont {
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.step {
	display: flex;
	align-items: center;
	gap: 20px;

	& .step-number {
		width: 2.6rem;
		height: 2.6rem;
		border: 1px solid var(--neutral-three);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		& p {
			font-weight: 700;
		}
	}

	& .step-content {
		display: flex;
		flex-direction: column;
		gap: 4px;
		text-transform: uppercase;

		& p {
			color: var(--neutral-one);
		}

		& h2 {
			font-weight: 700;
		}
	}
}
