/* 
 - Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)
 */
/* 
- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)
 */

/* Weights: 400 500 700 */
:root {
	--marine-blue: hsl(213, 96%, 18%);
	--purplish-blue: hsl(243, 100%, 62%);
	--pastel-blue: hsl(228, 100%, 84%);
	--light-blue: hsl(206, 94%, 87%);
	--strawberry-red: hsl(354, 84%, 57%);

	--cool-gray: hsl(231, 11%, 63%);
	--light-gray: hsl(229, 24%, 87%);
	--magnolia: hsl(216, 100%, 97%);
	--alabaster: hsl(228, 100%, 99%);
	--white: hsl(0, 0%, 100%);

	--w: 17rem;
}

.App {
	min-height: 100vh;
	background-color: var(--light-gray);
	display: grid;
	place-items: center;
}

.main {
	width: 60rem;
	height: 40rem;
	background-color: var(--alabaster);
	border-radius: 20px;
	padding: 10px;
	display: flex;
	gap: 10px;
}

.main-content {
	width: calc(100% - var(--w));
	color: var(--marine-blue);
	padding: 3rem 6rem;
}

.main-content-step {
	width: 100%;
	height: 100%;
	position: relative;
}

.header {
	h2 {
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 15px;
	}

	h3 {
		color: var(--cool-gray);
	}
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;

	.next-btn {
		background-color: var(--marine-blue);
		min-height: 3rem;
		padding: 1rem 1.4rem;
		border: none;
		color: var(--alabaster);
		font-weight: 500;
		border-radius: 8px;
	}

	.back-btn {
		background-color: transparent;
		min-height: 3rem;
		border: none;
		color: inherit;
		font-weight: 500;
	}
}
